<div class="app">

  <header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #212121;">
      <a class="navbar-brand">
       <img src="./assets/params/images/logo/Banchile_P.png" class="ban-img-responsive">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <!--li class="nav-item active">
            <a class="nav-link" routerLink="/">
              <i class="fas fa-home mr-1"></i>home
            </a>
          </li-->
        <div  *ngIf="!loggedIn">
          <li class="nav-item active">
            <a class="nav-link"  (click)="login()">
              <i class="fas fa-user mr-1"></i>Login
            </a>
          </li>
        </div>

        <div *ngIf="loggedIn">
          <li *ngIf="loggedIn"  class="nav-item active">
            <a class="nav-link"  (click)="logout()">
              <i class="far fa-user mr-1"></i>Logout
            </a>
          </li>
        </div>

        <div *ngIf="loggedIn">
          <li *ngIf="loggedIn" class="nav-item active">
            <a class="nav-link"  routerLink="/profile">
              <i class="far fa-address-card	 mr-1"></i>Profile
            </a>
          </li>
        </div>

        <div>
          <li class="nav-item active">
            <a class="nav-link"  routerLink="/public">
              <i class="fas fa-smile mr-1"></i>Public
            </a>
          </li>
        </div>


        <div>
          <li class="nav-item active">
            <a class="nav-link"  routerLink="/private">
              <i class="far fa-smile mr-1"></i>Private
            </a>
          </li>
        </div>

        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container-fluid">
      <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
      <router-outlet *ngIf="!isIframe"></router-outlet>
    </div>
  </main>
